/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* Universal Selectors */
* {
  margin: 0; 
  padding: 0; 
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
}

/* Start Home Component */
.home {
  background-image: url(./assets/images/banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  color: white;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.home h2 {
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
}

.home span {
  text-transform: uppercase;
  color: #ffe4e1;
}

.home p {
  font-size: 35px;
  margin: 20px;
}

.view-button {
  text-decoration: none;
}
/* End Home Component */

/* Start Navbar Component */
header h1 {
  color: black;
  text-decoration: none;
}

.links {
  color: black;
  letter-spacing: 3px;
  text-decoration: none;
}

.nav-link {
  line-height: 40px;
}

.logout {
  line-height: 40px;
  color: #71a6d2;
  text-decoration: none;
}

#logo {
  height: 170px;
  width: 250px;
  margin-bottom: -50px;
  transition: transform .2s
}

#logo:hover {
  transform: scale(1.1);
}

#user-account {
  background-color: #71a6d2;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px 0;
  box-shadow: 4px 4px 4px rgba(113, 166, 210, 0.6);
}

#user-account .links {
  color: white;
  padding: 0 15px;
}

#dropdown-basic {
  background-color: #71a6d2;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-list {
  text-decoration: none;
  color: black;
}

/* End Navbar Component */

/* Start Signup Component */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 120px auto 0 auto; 
  border: 3px solid #ffe4e1;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 4px 4px 4px rgba(255, 228, 225, 0.4);
}

.form h2 {
  text-align: center;
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px 0;
}

.form-group label {
  font-size: 18px;
  margin-bottom: 8px;
}

.form-group input {
  height: 40px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 16px;
}

#account {
  margin: 10px 0;
}

.direct-signin {
  color: #71a6d2;
}
/* End Signup Component */

/* Start Category Component */
.main {
  margin: 90px 100px 40px 100px;
}

.headings {
  text-align: center;
  border-top: 2px solid #71a6d2;
  border-bottom: 2px solid #71a6d2;
  padding: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.category button {
  all: unset;
}

.category ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.category ul li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  font-size: 25px;
  letter-spacing: 2px;
  cursor: pointer;
}

.category button {
  margin: 0 20px;
  cursor: pointer;
}

.category button:hover {
  text-decoration: underline;
  color: #71a6d2;
}
/* End Category Component */

/* Start Product Item Component */
.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.cardWrapper {
  border: 3px solid #ffe4e1;
  margin: 30px 40px;
  padding: 30px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 20%;
}

.cardWrapper img {
  width: 275px;
  height: 270px;
  margin: 0 auto 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.card-header-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.card-header-container h3 {
  letter-spacing: 2px;
  color: #71a6d2;
  font-size: 18px;
  text-decoration: none;
}

.card-header-container p {
  color: #71a6d2;
  margin: 0 15px;
}

.add-cart:hover {
  transform: scale(1.1);
}

.wrapper {
  position: relative;
}

.wrapper button {
  position: absolute;
  top: 20px;
  right: 25px;
  left: 10px;
}

.heart-icon {
  all: unset;
  background-color: none;
}

.heart {
  margin: 0 15px;
  color: #71a6d2;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(255, 228, 225, 0.4);
}

.card-bottom {
  text-align: center;
}

.card-bottom p {
  font-size: 14px; 
  font-style: italic;
  letter-spacing: 2px;
}

.card-bottom p span {
  color: #71a6d2;
}

.size {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.name {
  text-decoration: none;
}
/* End Product Item Component */

/* Start Exercise Component */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.search-form input {
  height: 40px;
  width: 30%;
  font-size: 16px;
  padding-left: 10px;
  margin-right: 15px;
  border-radius: 10px;
  border: 1px solid black;
}

.search-form button {
  height: 35px;
  width: 80px;
  border: 1px solid #71a6d2;
  background-color: #71a6d2;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 16px;
  box-shadow: 4px 4px 4px rgba(113, 166, 210, 0.6);
  cursor: pointer;
}

.exercises {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.exercise-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  border: 3px solid #ffe4e1;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  padding: 20px;
}

.exercise-image img {
  width: 210px;
  height: 200px;
  padding: 15px;
}

.exercise-content p {
  color: #71a6d2;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}

.exercise-description {
  width: 60%;
  display: block;
  margin: 0 auto;
}
/* End Exercise Component */

/* Start CartItem Component */
.card-wrapper {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border: 3px solid #ffe4e1;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 20%;
  padding-top: 15px;
} 

.cart-item {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cart-image {
  width: 300px; 
  height: 300px;
  border-radius: 10px;
  padding: 15px 15px 0 15px;
}

.cart-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity {
  color: black;
  margin-right: 10px;
  margin-bottom: 20px;
}

.quantity-num {
  width: 50px;
  padding-left: 8px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.price {
  font-size: 28px;
  color: #71a6d2;
}

.total {
  font-size: 30px;
  margin-right: 15px;
  text-transform: uppercase;
  color: black;
}

.cart-name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 0 10px;
  padding: 0 10px;
  color: #71a6d2;
}
/* End CartItem Component */

/* Start Single Product Page */
.single {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single img {
  border-radius: 10px;
}

.single-content {
  margin: 0 50px;
}

.single-content h2 {
  color: #71a6d2;
  font-size: 40px;
}

.go-back {
  text-decoration: none;
  color: white;
}

.go-back:hover {
  color: white;
}

.single-price {
  font-size: 20px;
}

.description {
  font-size: 18px;
}

.single-price span {
  color: #71a6d2;
}
/* End Single Product Page */

/* Start Order History Page */
.order-detail {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  flex-wrap: wrap;
}

.order-detail .date {
  color: #71a6d2;
}

.order-detail span {
  font-size: 18px;
}

.order-content {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 70px;
  flex-wrap: wrap;
}

.order-card {
  border: 2px solid #ffe4e1;
  padding: 30px 30px 0 30px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 20px 0;
}

.order-card img {
  width: 300px;
  border-radius: 10px;
}

.order-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.order-wrapper p {
  color: #71a6d2;
  font-size: 20px;
}

.order-wrapper span {
  font-size: 18px;
  color: #71a6d2;
}

.line {
  text-decoration: none;
}
/* End Order History Page */

/* Start Favorite Component */
.favorite-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.favorite-image {
  width: 300px;
  height: 300px;
  padding: 15px 15px 0 15px;
  border-radius: 10px;
}

.fav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  color: #71a6d2;
}
/* End Favorite Component */

/* Media Queries */
@media only screen and (min-width: 1140px) and (max-width: 1523px) {

  /* Start Home Component */
  .home h2 {
    font-size: 45px;
  }
  /* End Home Component */

  /* Start Product Item Component */
  .card-wrapper {
    width: 30%;
    border-radius: 10px;
  }

  .cardWrapper {
    border: 3px solid #ffe4e1;
    margin: 30px 40px;
    padding: 30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30%;
  }

  .cardWrapper img {
    width: 300px;
  }
  /* End Product Item Component */

  header {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1150px) {
  .cardWrapper {
    width: 40%;
  }
}

@media only screen and (max-width: 1024px) {

  /* Start Home Component */
  .home h2 {
    font-size: 28px;
  }

  .home p {
    font-size: 25px;
  }
  /* End Home Component */

  /* Start Product Item Component */
  .card-wrapper {
    width: 40%;
    border-radius: 10px;
  }

  .cardWrapper {
    border: 3px solid #ffe4e1;
    margin: 30px 40px;
    padding: 30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 40%;
  }

  .cardWrapper img {
    width: 265px;
  }
  /* End Product Item Component */

  /* Start Nav Component */
  header {
    flex-direction: column;
  } 

  header ul li {
    flex-direction: row;
  }
  /* End Nav Component */

  /* Start Sign In Component */
  .form {
    width: 50%;
  }
  /* End Sign In Component */
}

@media only screen and (max-width: 768px) {

  /* Start Home Component */
  .home {
    height: 50vh;
  }

  .home h2 {
    font-size: 18px;
  }

  .home p {
    font-size: 16px;
  }
  /* End Home Component */

  /* Start Navbar Component */
  header {
    flex-direction: column;
  }
  /* End Navbar Component */

  /* Start Sign In/Sign Up Component */
  .form {
    width: 50%;
  }
  /* End Sign In/Sign Up Component */

  /* Start Product Item Component */
  .card-wrapper {
    width: 60%;
    border-radius: 10px;
  }

  .cardWrapper {
    border: 3px solid #ffe4e1;
    margin: 30px 40px;
    padding: 30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: auto;
    /* width: 60%; */
  }

  .cardWrapper img {
    width: 275px;
  }
  /* End Product Item Component */

  /* Start Category Component */
  .category button {
    font-size: 15px;
  }
  /* End Category Component */

  /* Start Single Product Component */
  .single {
    flex-direction: column;
  }

  .single img {
    width: 500px;
    margin-bottom: 20px;
  }

  .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  /* End Single Product Component */

  /* Start Excerise Component */
  .search-form {
    margin: 20px auto;
    width: 600px;
  }

  .exercise-card {
    flex-direction: column;
  }
  /* End Exercise Component */
}

@media only screen and (max-width: 425px) {

  /* Start Home Component */
  .home {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home h2 {
    font-size: 16px;
    text-align: center;
    padding-top: 80px;
    margin: 0 10px;
  }

  .home p {
    font-size: 12px;
    text-align: center;
  }

  .home button {
    width: 100px;
    display: block;
    margin: 20px auto;
  }
  /* End Home Component */

  /* Start Navbar Component */
  header ul {
    flex-direction: column;
  }
  /* End Navbar Component */

  /* Start Product List Component */
  .main {
    display: block;
    margin: 80px 10px 40px 20px;
  }

  .category ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .category button {
    margin: 8px 0;
    display: flex;
  }
  /* End Product List Component */

  /* Start Product Item Component */
  .cardWrapper {
    border: 3px solid #ffe4e1;
    margin: 30px 40px;
    padding: 30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 88%;
  }

  .cardWrapper img {
    width: 275px;
  }
  /* End Product Item Component */

  /* Start Single Product Component */
  .card-wrapper {
    width: 80%;
    border-radius: 10px;
  }

  .single {
    flex-direction: column;
  }

  .single img {
    width: 350px;
    margin-bottom: 20px;
  }

  .single-content h2 {
    font-size: 35px;
  }

  .single-price {
    text-align: center;
  }

  .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  /* End Single Product Component */

  /* Start Order History Component */
  .order-content {
    display: block; 
    margin: 0 auto;
  }

  .order-content img {
    width: 285px;
  }
  /* End Order History Component */

  /* Start Excerise Component */
  .search-form {
    position: relative;
    right: 80px;
  }

  .exercises ul {
    display: block; 
    margin: 0 auto;
  }

  .exercise-card {
    width: 340px;
    position: relative;
    right: 48px;
    
  }
  /* End Exercise Component */
}

@media only screen and (max-width: 375px) {

  /* Start SignIn/SignUp Component */
  .form2 {
    width: 85%;
    margin: 40px auto;
  }
  /* End SignIn/SignUp Compoenent */

  /* Start Product Item Component */
  .cardWrapper {
    border: 3px solid #ffe4e1;
    margin: 30px 40px;
    padding: 30px;
    width: 88%;
  }

  .cardWrapper img {
    width: 240px;
  }
  /* End Product Item Component */

  /* Start Single Product Component */
  .card-wrapper {
    width: 90%;
    border-radius: 10px;
  }

  .single img {
    width: 320px;
    margin-right: 10px;
  }

  .single-content h2 {
    font-size: 30px;
    margin-left: 10px;
  }

  .description {
    margin-left: 10px;
    margin-right: 9px;
  }
  /* End Single Product Component */

  /* Start Order History Component */
  .order-content {
    display: block; 
    margin: 0 auto;
    width: 330px;
  }

  .order-content img {
    width: 270px;
  }
  /* End Order History Component */

  /* Start Excerise Component */
  .search-form {
    margin: 20px auto;
  }

  .search-form input {
    width: 40%;
  }
  /* End Exercise Component */
}

@media only screen and (max-width: 325px) {

  /* Start Product Item Component */
  .main {
    display: block;
    margin: 70px 20px;
  }
  /* End Product Item Component */

  /* Start Product Item Component */
  .cardWrapper {
    border: 3px solid #ffe4e1;
    margin: 30px 40px;
    padding: 30px;
    width: 88%;
  }

  .cardWrapper img {
    width: 200px;
  }
  /* End Product Item Component */

  /* Start Single Product Component */
  .single img {
    width: 300px;
    display: block; 
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
  }

  .single-content h2 {
    font-size: 25px;
    margin-left: 32px;
    margin-top: 10px;
  }

  .description {
    width: 280px;
  }

  .button-group {
    flex-direction: column;
  }
  /* End Single Product Component */

  /* Start Cart Item Component */
  .card-wrapper {
    width: 200px;
  }

  .card-wrapper img {
    width: 230px;
  }

  .size-option {
    position: relative;
    bottom: 20px;
  }
  /* End Cart Item Component */

  /* Start Order History Component */
  .order-content {
    width: 275px;
  }

  .order-content img {
    width: 220px;
  }
  /* End Order History Component */
}

@media only screen and (max-width: 320px) {

  /* Start SignIn/SignUp Component */
  .form2 {
    width: 85%;
    margin: 40px auto;
  }
  /* End SignIn/SignUp Compoenent */

  /* Start Product Item Component */
  .card-wrapper {
    width: 95%;
    border-radius: 10px;
  }

  .cardWrapper {
    display: block;
    margin: 20px auto;
  }

  .cardWrapper img {
    width: 180px;
    height: 200px;
  }
  /* End Product Item Component */

  /* Start Favorite Component */
  .favWrapper {
    width: 100%;
  }

  .favWrapper img {
    height: 180px;
    border-radius: 10px;
  }
  /* End Favorite Component */

  /* Start Exericse Component */
  .search-form {
    flex-direction: column;
  }

  .search-form {
    width: 100%;
    margin: 20px auto;
    position: relative; 
    left: 40px;
  }

  .exercise-card {
    width: 300px;
    margin: 20px auto;
    flex-direction: column;
    position: relative;
    right: 65px;
  }
  /* End Exercise Component */
}