/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* Universal Selectors */
* {
  margin: 0; 
  padding: 0; 
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
}

/* Start Home Component */
.home {
  background-image: url(./assets/images/banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  color: white;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.home h2 {
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
}

.home span {
  text-transform: uppercase;
  color: #ffe4e1;
}

.home p {
  font-size: 35px;
  margin: 20px;
}
/* End Home Component */

/* Start Navbar Component */
header h1 {
  color: black;
  text-decoration: none;
}

.links {
  color: black;
  letter-spacing: 3px;
  text-decoration: none;
}

.nav-link {
  line-height: 40px;
}

.logout {
  line-height: 40px;
  color: #71a6d2;
  text-decoration: none;
}

#user-account {
  background-color: #71a6d2;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px 0;
  box-shadow: 4px 4px 4px rgba(113, 166, 210, 0.6);
}

#user-account .links {
  color: white;
  padding: 0 15px;
}

.dropdown-icon {
  background-color: #71a6d2;
}

.dropdown-list {
  text-decoration: none;
  color: black;
}

/* End Navbar Component */

/* Start Signup Component */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 120px auto 0 auto; 
  border: 3px solid #ffe4e1;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 4px 4px 4px rgba(255, 228, 225, 0.4);
}

form h2 {
  text-align: center;
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px 0;
}

.form-group label {
  font-size: 18px;
  margin-bottom: 8px;
}

.form-group input {
  height: 40px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 16px;
}

#account {
  margin: 10px 0;
}

.direct-signin {
  color: #71a6d2;
}
/* End Signup Component */

/* Start Category Component */
.main {
  margin: 90px 100px 40px 100px;
}

.headings {
  text-align: center;
  border-top: 2px solid #71a6d2;
  border-bottom: 2px solid #71a6d2;
  padding: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.category button {
  all: unset;
}

.category ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.category ul li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  font-size: 25px;
  letter-spacing: 2px;
  cursor: pointer;
}

.category button {
  margin: 0 20px;
  cursor: pointer;
}

.category button:hover {
  text-decoration: underline;
  color: #71a6d2;
}
/* End Category Component */

/* Start Product Item Component */
.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.cardWrapper {
  border: 3px solid #ffe4e1;
  margin: 30px 40px;
  padding: 30px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 20%;
}

.cardWrapper img {
  width: 275px;
  height: 270px;
  margin: 0 auto 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.card-header-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.card-header-container h3 {
  letter-spacing: 2px;
  color: #71a6d2;
  font-size: 18px;
}

.card-header-container p {
  color: #71a6d2;
}

.add-cart:hover {
  transform: scale(1.1);
}

.card-bottom {
  text-align: center;
  margin-top: 10px;
}

.card-bottom p {
  font-size: 14px; 
  font-style: italic;
  letter-spacing: 2px;
}

.card-bottom p span {
  color: #71a6d2;
}
/* End Product Item Component */

/* Start Exercise Component */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.search-form input {
  height: 40px;
  width: 30%;
  font-size: 16px;
  padding-left: 10px;
  margin-right: 15px;
  border-radius: 10px;
  border: 1px solid black;
}

.search-form button {
  height: 35px;
  width: 80px;
  border: 1px solid #71a6d2;
  background-color: #71a6d2;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 16px;
  box-shadow: 4px 4px 4px rgba(113, 166, 210, 0.6);
  cursor: pointer;
}
/* End Exercise Component */

/* Start CartItem Component */
.card-wrapper {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
} 

.cart-item {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cart-image {
  width: 300px; 
  height: 300px;
  border-radius: 10px;
}

.cart-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity {
  color: black;
  margin-right: 10px;
  margin-bottom: 20px;
}

.quantity-num {
  width: 50px;
  padding-left: 8px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.price {
  font-size: 28px;
  color: #71a6d2;
}

.total {
  font-size: 30px;
  margin-right: 15px;
  text-transform: uppercase;
  color: black;
}
/* End CartItem Component */

/* Media Queries */
@media only screen and (max-width: 1440px) {

  /* Start Home Component */
  .home h2 {
    font-size: 45px;
  }
  /* End Home Component */
}

@media only screen and (max-width: 1024px) {

  /* Start Home Component */
  .home h2 {
    font-size: 28px;
  }

  .home p {
    font-size: 25px;
  }
  /* End Home Component */
}

@media only screen and (max-width: 768px) {

  /* Start Home Component */
  .home {
    height: 50vh;
  }

  .home h2 {
    font-size: 18px;
  }

  .home p {
    font-size: 16px;
  }
  /* End Home Component */

  /* Start Navbar Component */
  header {
    flex-direction: column;
  }

  header ul {
    flex-direction: column;
  }
  /* End Navbar Component */
}

@media only screen and (max-width: 425px) {

  /* Start Home Component */
  .home {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home h2 {
    font-size: 16px;
    text-align: center;
    padding-top: 80px;
    margin: 0 10px;
  }

  .home p {
    font-size: 12px;
    text-align: center;
  }

  .home button {
    width: 100px;
    display: block;
    margin: 20px auto;
  }
  /* End Home Component */

  /* Start Product List Component */
  .main {
    display: block;
    margin: 80px 10px 40px 20px;
  }

  .category ul {
    flex-direction: column;
  }
  
  .category ul li {
    margin: 10px 0;
    width: 100%;
    font-size: 14px;
  }
  /* End Product List Component */

  /* Start Product Item Component */
  .card {
    width: 90%;
  }

  .image img {
    width: 200px;
    height: 200px;
  }
  /* End Product Item Component */
}

@media only screen and (max-width: 325px) {

  /* Start Product Item Component */
  .main {
    display: block;
    margin: 70px 20px;
  }
  /* End Product Item Component */
}