/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* Universal Selectors */
* {
  margin: 0; 
  padding: 0; 
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
}

/* Start Home Component */
.home {
  background-image: url(./assets/images/banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
/* End Home Component */

/* Start Navbar Component */
.links {
  color: black;
  letter-spacing: 3px;
}

.nav-link {
  line-height: 40px;
}

#user-account {
  background-color: #71a6d2;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#user-account .links {
  color: white;
  padding: 0 15px;
}
/* End Navbar Component */

/* Start Sigup Component */
form h2 {
  text-align: center;
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px 0;
}

.form-group label {
  font-size: 18px;
  margin-bottom: 8px;
}

.form-group input {
  height: 40px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

#account {
  margin: 10px 0;
}

.direct-signin {
  color: #71a6d2;
}
/* End Signup Component */

/* Start ProductList Component */
.main {
  margin: 160px;
  position: relative;
}

.headings {
  text-align: center;
  border-top: 2px solid #71a6d2;
  border-bottom: 2px solid #71a6d2;
  padding: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.category ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.category ul li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
}
/* End ProductList Component */